.default-color0.chart-Line{
    -fx-pie-color: #9bc53d;
}
.default-color1.chart-Line {
    -fx-pie-color: #ffc600;
}
.default-color2.chart-Line {
    -fx-pie-color: #c3423f;
}
.default-color3.chart-Line {
    -fx-pie-color: #a913e5;
}
.default-color4.chart-Line {
    -fx-pie-color: #25ccc6;
}
.default-color5.chart-Line {
    -fx-pie-color: #1567d3;
}
.default-color6.chart-Line {
    -fx-pie-color: #fd6406;
}
.default-color7.chart-Line {
    -fx-pie-color: #f109ed;
}

.monthly-overview .chart-plot-background {
    -fx-background-color: transparent;
}

. font{
    -fx-font-family: Verdana;
}
