.Background {
    -fx-background-color: #dc0428;
}

#NavBarButton {
    -fx-background-color: TRANSPARENT;
    -fx-font-family: Verdana;
    -fx-font-size: 1.5em;
    -fx-font-weight: 200;
    -fx-text-fill: #ffffff;
}

#NavBarButton:hover{
    -fx-background-color: #ca0728;
    -fx-background-radius: 16;
    -fx-cursor: hand;
}

.navBarHomeButton {
    -fx-background-color: TRANSPARENT;
    -fx-font-family: Verdana;
    -fx-font-size: 2.5em;
    -fx-font-weight: 800;
    -fx-text-fill: #ffffff;
}

.Bnbank {
    -fx-background-color: TRANSPARENT;
    -fx-font-family: Verdana;
    -fx-font-size: 2em;
    -fx-font-weight: 700;
    -fx-text-fill: #ffffff;
}

.toggle-nav:hover{
    -fx-background-color: #ca0728;
    -fx-background-radius: 16;
    -fx-cursor: hand;
}

.toggle-nav{
    -fx-background-color: TRANSPARENT;
    -fx-font-family: Verdana;
    -fx-font-size: 2.5em;
    -fx-font-weight: 800;
    -fx-text-fill: #ffffff;
}

#NavBarButton:selected{
    -fx-underline: true;
}


