.default-color0.chart-pie {
  -fx-pie-color: #9bc53d;
}
.default-color1.chart-pie {
  -fx-pie-color: #ffc600;
}
.default-color2.chart-pie {
  -fx-pie-color: #c3423f;
}
.default-color3.chart-pie {
  -fx-pie-color: #a913e5;
}
.default-color4.chart-pie {
  -fx-pie-color: #25ccc6;
}
.default-color5.chart-pie {
  -fx-pie-color: #1567d3;
}
.default-color6.chart-pie {
  -fx-pie-color: #fd6406;
}
.default-color7.chart-pie {
  -fx-pie-color: #f109ed;
}

. font{
  -fx-font-family: Verdana;
}