/*Font*/
. font{
  -fx-font-family: Verdana;
}

/*Header*/
.table-view .column-header-background {
  -fx-background-color: linear-gradient(to bottom, #dc0428, #874d4d);
  -fx-background-radius: 5px 5px 0px 0px;
}

.table-view .column-header {
  -fx-background-color: transparent;
}

.table-view .column-header .label {
  -fx-text-fill: white;
  -fx-alignment: CENTER_LEFT;
  -fx-background-color: none;
  -fx-border-color: none;
  -fx-font-size: 15;
  -fx-padding: 5;
}

/* Table cells */
#negative-margin{
  -fx-fill: #ca0728;
  -fx-font-weight: BOLD;
}

#positive-margin{
  -fx-fill: green;
  -fx-font-weight: BOLD;
}

.table-view .table-cell {
  -fx-border-color: transparent;
  -fx-padding: 8;
  -fx-font-size: 12;
  -fx-font-weight: 400;
  -fx-text-fill: #000000;
}

.table-row-cell:odd:hover {
  -fx-background-color: #abb9cf;
}

.table-row-cell:even:hover {
  -fx-background-color: #cedcf2;
}

.table-row-cell:odd {
  -fx-background-color: #cacccf;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0em;
  -fx-opacity: 80%;
}

.table-row-cell:even {
  -fx-background-color: #f0f3f5;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0em;
  -fx-opacity: 80%;
}

/* Vertical scrollbar */
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background {
  -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .increment-button,
.table-view .virtual-flow .scroll-bar:vertical .decrement-button {
  -fx-opacity: 2;
  -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
  -fx-background-color: linear-gradient(to bottom, #703939, #ca0728);
}

/* Horizontal scrollbar */
.table-view .virtual-flow .scroll-bar:horizontal {
  -fx-min-height: 0;
  -fx-pref-height: 0;
  -fx-max-height: 0;
  -fx-min-width: 0;
  -fx-pref-width: 0;
  -fx-max-width: 0;
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-opacity: 0;
  -fx-scale-y: 0;
  -fx-border-color: transparent;
  -fx-border-insets: 0;
  visibility: hidden;
  display: none;
}

.table-view .virtual-flow .scroll-bar:horizontal .track {
  -fx-background-color: transparent;
  -fx-opacity: 0;
}

.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button,
.table-view .scroll-bar:horizontal .thumb {
  -fx-background-color: transparent;
  -fx-padding: 0;
}

.table-view .scroll-pane {
  -fx-hbar-policy: NEVER;
}

/*Arrow*/
.table-view .column-header .arrow {
  -fx-arrows-visible: true;  /*Denne funker ikke, men vil ha noe som dette*/

  -fx-mark-color: #ffffff ;
}


